body{
    font-family: Arial, sans-serif;
    /*background-color: #96a4d3;*/
    background-color: rgb(62, 74, 90);
}

img.headshot {
    width: 20em;
    height: 20em;
    border-radius: 0.7em;
    filter: drop-shadow(0 0 1rem #c2b280);
}

img.signal {
    width: 20em;
    border-radius: 0.7em;
    filter: drop-shadow(0 0 .75rem #c2b280);
}

.wrapper {
    padding-top: 1em;
    display: grid;
    justify-items: center;
    gap: 1em;
    padding-bottom: 2em;
}
.title_box1 {
    text-align: center;
    width: auto;
    padding: .5em 2em ;
    background-color: #152046;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px black;
}

.title_box2 {
    text-align: center;
    width: auto;
    padding: 0em 2em ;
    background-color: #152046;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px black;
}

.main_box {
    text-align: center;
    min-width: 30em;
    max-width: 60%;
    padding: 0em 2em;
    background-color: #152046;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px black;
}

.google_preview_box {
    text-align: center;
    min-width: 30em;
    max-width: 80%;
    padding: 2em 2em;
    background-color: #152046;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px black;
}
.back_box {
    padding: 0em 1.5em;
    background-color: #152046;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px black;
}

.white {
    color:white;
}

.sand {
    color: #c2b280;
}

.hoverlink {text-decoration: none; color: #c2b280}
.hoverlink:hover {color: #96a4d3; /*font-style: italic;*/}

.hiddenlink {text-decoration: none; color: black; }
.hiddenlink:hover {color: gray}

iframe.googlepreviewresume {height: 40em; width: 40em}
iframe.googlepreview {height: 60em; width: 60em}

h1 {
    font-size: 2em;
}

h1.title {
    font-size: 4em; 
    color: #c2b280
}

p {
    font-size: 1.5em;
    line-height: 1.5;
}
p.back_button {
    font-size: 1.2em;
}

span {
    color: #c2b280;
}

span.black {
    color: black;
}

pre {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
}